
    <div  class="relative flex  items-center h-[80vh] min-h-[80vh] w-full bg-violet-950 sm:w-full min-w-[100%] video-bg overflow-hidden">
        <video autoplay muted loop 
        class="w-full absolute">
            <source src="../../../../../assets/images/videoplayback.webm">
        </video>
        <div class="z-10 font-semibold pl-36">
            <h1 class="text-white text-5xl ">Consult a Doctor <br>anytime, anywhere <br>by <span class="underline-offset-2 text-yellow-300"><u>video call</u></span></h1>
            
            <p class="mt-10">Let's find your specialist</p>
            <div class="relative mt-2  w-full sm:w-full">
                <div class="absolute right-4 inset-y-0  flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="text" id="search-navbar" class="w-full  p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Dieseases, Doctors...">
            </div>
        </div>
        <div class="absolute bottom-50 right-[40%] bg-white rounded-lg text-violet-950 p-3 font-bold flex items-center gap-3 sm:hidden lg:flex">
            <i class="fa-solid fa-circle text-[10px] animated-icon" style="color: #38f702;"></i> <p>2110 Doctors Online</p>
        </div>
        <img class="absolute bottom-0 right-0 lg:opacity-95 sm:opacity-55  h-[80%]" [lazyLoad]="imgSrc" alt="">
    </div>
    <section class="font-bold px-[100px] mt-20">
        <div class="w-full">
            <h1 class="text-center lg:text-5xl md:text-4xl  sm:text-3xl font-semibold text-violet-950 leading-[60px]">Why you should trust us? <br>Get know about us</h1>

            <div class="flex gap-20 mt-20 overflow-x-scroll  mb-10">
                <div class="bg-slate-50 rounded-lg w-[300px] min-w-[250px] flex flex-col items-center p-3 text-violet-950">
                    <div class="flex justify-center">
                        <img src="../../../../../assets/images/doctor.jpg" class="rounded-full w-[25%]" alt="">
                    </div>
                    <p class="text-2xl">All Specialist</p>
                    <div>
                        <p class="text-center mt-8 text-sm ">Can reach out to 3500+ doctors from 80+ specialities, who are experienced in telemedicine</p>
                    </div>
                </div>

                <div class="bg-slate-50 rounded-lg w-[300px] min-w-[250px] flex flex-col items-center items-center  p-3 text-violet-950">
                    <div class="flex justify-center w-full">
                        <img src="../../../../../assets/images/lock.jpg" class="rounded-full w-[25%]  " alt="">
                    </div>
                    <p class="text-2xl">Private & Secure</p>
                    <div>
                        <p class="text-center mt-8 text-sm">All your data is protected and safeguarded with sucresed SSL. Data at rest encryption</p>
                    </div>
                </div>

                <div class="bg-slate-50 rounded-lg w-[300px] min-w-[250px] flex flex-col items-center items-center  p-3 text-violet-950">
                    <div class="flex justify-center w-full">
                        <img src="../../../../../assets/images/costumer.jpg" class="rounded-full w-[35%]" alt="">
                    </div>
                    <p class="text-2xl">Million Costumers</p>
                    <div>
                        <p class="text-center mt-8 text-sm">Trusted by millions and serving people worldwide. Users from 196 contries and counting.</p>
                    </div>
                </div>

                <div class="bg-slate-50 rounded-lg w-[300px] min-w-[250px] flex flex-col items-center items-center  p-3 text-violet-950">
                    <div class="flex justify-center w-full">
                        <img src="../../../../../assets/images/chat.jpg" class="rounded-full w-[35%] " alt="">
                    </div>
                    <p class="text-2xl">Chatbox Support</p>
                    <div>
                        <p class="text-center mt-8 ">Get access to Docta via chat box for a fantastic telehealth service.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <section class="w-full ">
        <div class="w-full bg-lime-50 text-center mt-20 text-violet-950 p-12 flex flex-col items-center justify-center">    
            <p class="lg:text-4xl font-semibold sm:text-3xl">Our Consulting Specialities</p>  
            <p class="lg:w-2/4 sm:w-full flex justify-center mt-8">Ask a doctor online and get quick medical advice for your health queries. Our medical panel consists of over 3500+ doctors 80+ specialities</p>   
            <app-disease-card [diseases]="diseases"></app-disease-card>
        </div>
    </section>
