<!-- SIDEBAR -->
<section id="sidebar" class="fixed top-0 left-0 w-[60px] h-[100vh] bg-[#F9F9F9]  overflow-x-hidden font-serif transition-[.3s] hover:w-[280px] bg-indigo-800" >
  <a href="#" class="brand bg-indigo-800 text-white text-[24px] font-bold h-[56px] flex items-center text-[#3C91E6] sticy top-0 left-0 bg-[#F9F9F9] z-500 pb-[20px] box-content">
    <i class='bx bxs-smile min-w-[60px] flex justify-center'></i>
    <span class="text">Doctors</span>
  </a>
  <ul class="side-menu w-[100%] mt-[48px] top ">
    <li class=" text-[#3C91E6] h-[48px]  ml-[6px] rounded-tl-[48px] rounded-br-[48px] p-[4px] ">
      <a href="#" class="w-[100%]  bg-transparent  text-white h-[100%] bg-[#F9F9F9] flex items-center rounded-[48px] text-[16px] text-[#342E37] overflow-x-hidden whitespace-nowrap hover:text-[#3C91E6]">
        <i class='bx bxs-dashboard text-3xl mr-3 min-w-[60px] flex justify-center' ></i> 
        <span class="text">Calendar</span>
      </a>
    </li>
    <li class="h-[48px] bg-transparent ml-[6px] rounded-tl-[48px] rounded-br-[48px] p-[4px]">
      <a href="#" class="w-[100%] h-[100%]  bg-transparent  text-white bg-[#F9F9F9] flex items-center rounded-[48px] text-[16px] text-[#342E37] overflow-x-hidden whitespace-nowrap hover:text-[#3C91E6]">
        <i class='bx bxs-shopping-bag-alt text-3xl mr-3' ></i>
        <span class="text">Patients</span>
      </a>
    </li>
    <li class="h-[48px] bg-transparent ml-[6px] rounded-tl-[48px] rounded-br-[48px] p-[4px]">
      <a href="#" class="w-[100%] h-[100%] bg-[#F9F9F9]  bg-transparent  text-white flex items-center rounded-[48px] text-[16px] text-[#342E37] overflow-x-hidden whitespace-nowrap hover:text-[#3C91E6]">
        <i class='bx bxs-doughnut-chart text-3xl mr-3' ></i>
        <span class="text">Analytics</span>
      </a>
    </li>
    <li class="h-[48px] bg-transparent ml-[6px] rounded-tl-[48px] rounded-br-[48px] p-[4px]">
      <a href="#" class="w-[100%] h-[100%] bg-[#F9F9F9]  bg-transparent  text-white flex items-center rounded-[48px] text-[16px] text-[#342E37] overflow-x-hidden whitespace-nowrap hover:text-[#3C91E6]">
        <i class='bx bxs-message-dots text-3xl mr-3' ></i>
        <span class="text">Message</span>
      </a>
    </li>
    <li class="active h-[48px] bg-transparent ml-[6px] rounded-tl-[48px] rounded-br-[48px] p-[4px]">
      <a href="#" class="w-[100%] h-[100%] bg-[#F9F9F9]  bg-transparent  text-white flex items-center rounded-[48px] text-[16px] text-[#342E37] overflow-x-hidden whitespace-nowrap hover:text-[#3C91E6]">
        <i class='bx bxs-group text-3xl mr-3' ></i>
        <span class="text">Profile</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu w-[100%] mt-[48px]">
    <li class="h-[48px] bg-transparent ml-[6px] rounded-tl-[48px] rounded-br-[48px] p-[4px]">
      <a href="#" class="w-[100%]  bg-transparent  text-white h-[100%] bg-[#F9F9F9] flex items-center rounded-[48px] text-[16px] text-[#342E37] overflow-x-hidden whitespace-nowrap hover:text-[#3C91E6]">
        <i class='bx bxs-cog text-3xl mr-3' ></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li class="h-[48px] bg-transparent ml-[6px] rounded-tl-[48px] rounded-br-[48px] p-[4px]">
      <a href="#" class="logout w-[100%]  bg-transparent  text-white h-[100%] bg-[#F9F9F9] flex items-center rounded-[48px] text-[16px] text-[#342E37] overflow-x-hidden whitespace-nowrap hover:text-[#3C91E6]">
        <i class='bx bxs-log-out-circle text-3xl mr-3' ></i>
        <span class="text text-red-500">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

<div id="content" class="relative w-[calc(100%)] l-[280px] transition-[.3s] ">
  <nav class="h-[56px] bg-[#F9F9F9] py-[24px] flex items-center gap-[24px] justify-end sticky top-0 right-0 ">
    <!-- <i class='bx bx-menu cursor-pointer' ></i> -->

    <div (click)="toggleSettings()" class="profile mr-5 flex toggle cursor-pointer">
      <img src="../../../../assets/images/profile.png">
      <i class='bx bx-chevron-down text-xl' ></i>    
    </div>

    <div *ngIf="settings">
    
      <div  class="settings absoulte bg-white  w-[250px] h-[230px] text-slate-500">
        <div class="border-b-2 w-full p-3 ">
          <p>{{user?.name}}</p>
        </div>
        <div class="border-b-2 w-full p-3 cursor-pointer hover:bg-slate-200">
          <p class="font-semibold">Switch to consumer products <i class='bx bx-chevron-right'></i></p>
          <p>Find and book a doctor or lab test, consult with doctors online, store medical records and more</p>
        </div>
        <div class="p-3 cursor-pointer hover:bg-slate-200">
          <button>Logout</button>
        </div>
      </div>
    </div>
  </nav>

</div>