<div class=" p-[50px] flex">
  <div class="lg:w-[50%] sm:w-[100%] text-[16px] lg:pl-[200px] flex flex-col justify-start items-start">

    <p class="text-3xl font-medium text-left ">Education Qualification</p>
    <div class="w-full">  
        <form class="mt-5" [formGroup]="educationForm" (ngSubmit)="onSubmit()">
          <div >
            <p for="reg-num">Degree</p>
            <mat-form-field appearance="outline" class="w-full">
              <mat-select formControlName="degree" placeholder="Select degree">
                <mat-option value="MBS (H)">MBS (H)</mat-option>
                <mat-option value="MSc.-speech and hearing">MSc.-speech and hearing</mat-option>
                <mat-option value="Doctorate in Chiropractic">Doctorate in Chiropractic</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="mt-1 mb-3">
            <p for="reg-council">College/Institute</p>
            <div class=" mt-3">
              <mat-form-field appearance="outline" class="w-full">
                <mat-select formControlName="institution" placeholder="Select college/institute">
                  <mat-option value="Maharani College">Maharani College</mat-option>
                  <mat-option value="MAHER UNIVERSITY">MAHER UNIVERSITY</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="">
            <p >Year of Completion</p>
            <mat-form-field appearance="outline" class="w-full">
              <mat-select formControlName="completionYear" placeholder="Type year of completion" >
                <mat-option *ngFor="let i of years" [value]="i">{{i}}</mat-option>
               
              </mat-select>
            </mat-form-field>

          </div>

          <div class="pb-[20px] border-b-2">
            <p >Year of Experience</p>
            <mat-form-field appearance="outline" class="w-full">
             <input matInput formControlName="experience" placeholder="Type year of experience (between 0-70 years)">
            </mat-form-field>

          </div>

          <div class="flex justify-between items-center mt-2">
            <a [routerLink]="['/partners/onboard/milestone']"><i class='bx bx-left-arrow-alt'></i> Back</a>
            <input type="submit" class="bg-orange-400 text-white rounded-sm p-2 w-[120px] cursor-pointer" value="Next">
          </div>
        </form>
    </div>

  </div>
  <div class="lg:w-[50%] lg:flex sm:hidden xs:hidden flex  justify-center" >
    <div class="flex flex-col gap-2 text-blue-500 border-2 bg-emerald-200 border-green-500 w-[350px] p-2 h-[11rem] font-normal">
      <i class='bx bx-loader-medium'></i>
      <p>On Practo, doctors are listed under the relevant specializations based on their academic degrees.
        Both, education and years of experience, showcase doctor’s expertise and are among the top 3 things that patients consider while making their decision</p>
    </div>
  </div>
</div>