<nav class="relative border-gray-200  border-b-[10px] z-10 left-0 right-0 top-0  p-4">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto ">
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="../../../../assets/images/photo-1554734867-bf3c00a49371.jpeg" class="h-8" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white border-r-2 border-gray-500 mr-3 pr-3">MediConnect</span>
        <div>Step 2/6</div>
    </a>
   
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
      
     <button class="text-blue-500 font-semibold text-lg">Save & Exit</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>