<div class="p-4 w-full">
  <p class="text-center font-medium text-xl mb-[50px]">Doctor's Details</p>
  <div class="grid gap-4 grid-cols-4 grid-rows-2 justify-center justify-items-start mt-[50px]">
    <img class="rounded-md w-[60px] row-span-2  justify-self-end" src="../../../../../../assets/images/doctor-profile-with-medical-service-icon_617655-48.avif" alt="">
    <p class="col-span-2 font-semibold">Dr. {{doctor?.name}}</p>
    <p class="col-span-2 font-medium">{{doctor?.specialization}} specialist</p>
  </div>
  <div>
    <div class="flex justify-between">
      <p>Date</p>
      <p>June</p>
    </div>
    <div class="flex justify-between mb-[20px]">
      <div *ngFor="let date of dates" class="bg-[#f0f0f0] p-4 rounded-lg text-center cursor-pointer"
      [class.selectedDate]="date === selectedDate "
      (click)="selectDate(date)">
      
        <div> {{getDayByName(date)}} </div>
        <div> {{getDate(date)}} </div>
      </div>
    </div>
    <p class="mt-[20px]">TIME</p>
    <div class="flex justify-between mb-[20px]">
      <div *ngFor="let time of times" class="bg-[#f0f0f0] p-4 rounded-lg text-center hover:outline-2 outline-black cursor-pointer"
      [class.selectedTime]="time === selectedTimeSlot"
      (click)="selectTimeSlot(time)"
      >
        {{time}}
      </div>
    </div>
    <button (click)="onDone()" class="block w-full p-4 bg-[#00ffcc] rounded-md text-black font-semibold cursor-pointer"
    [disabled]="!selectedDate && !selectedTimeSlot">Done</button>
  </div>
  
  <div *ngIf="showSuccesMsg" class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-white w-64 rounded-lg p-6 text-center">
      <div class="w-16 h-16 bg-teal-400 rounded-full flex items-center justify-center mx-auto mb-4">
        <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
      </div>
      <h3 class="text-lg font-semibold mb-2">BOOKING SUCCESSFUL</h3>
      <p class="text-sm text-gray-600">Your Appointment is now Confirmed</p>
    </div>
  </div>
</div>