

<div class="w-full ">
  <div class=" flex items-center w-[100%] bg-white ">
    <div class="w-[60%] sm:hidden lg:block">
      <div class="text-center flex flex-col justify-center items-center">
        <img class="w-[700px]" src="../../assets/images/undraw_medicine_b1ol.png" alt="">
        <h2 class="mt-4 font-bold text-3xl">IMPROVE YOUR LIFESTYLE</h2>
        <p class="text-xl">Striving to improve community health care and practices</p>
      </div>
    </div>

    <div class="lg:w-[40%] sm:w-full flex justify-center items-center flex-col ">
      <h3 class="text-center mb-4 font-bold text-xl">USER SELECTION</h3>
      <div class="row flex flex-col items-center justify-center ">
        <div class="col-md-8 mb-4 col-sm-12 ">
          <div class="text-center">
            <div class="rounded-xl border border-teal-300 p-3  border-4 flex justify-center ">
              <img class="img-fluid w-72 " src="../../assets/images/undraw_Doctors_p6aq.png" alt="">
            </div>
            <div class="bg-black rounded-xl border border-teal-300 p-3 mt-2 cursor-pointer ">
              <p class="text-white  mb-0 font-bold" [routerLink]="['/auth/login', 'Doctor']">Doctor</p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="text-center">
            <div class="rounded-xl border border-teal-300 p-3 border-4 flex justify-center">
              <img class="img-fluid w-72 " src="../../assets/images/undraw_medical_care_movn.png" alt="">
            </div>
            <div class="bg-black rounded-xl border border-teal-300 p-3 mt-2 cursor-pointer ">
              <p class="text-white font-weight-bold mb-0 font-bold" [routerLink]="['/auth/login', 'Patient']">Patient</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>