



<div class=" p-[50px] flex">
  <div class="lg:w-[50%] sm:w-[100%] text-[16px] lg:pl-[200px] flex flex-col justify-start items-start">

    <p class="text-3xl font-medium text-left ">Medical Registration</p>
    <div class="w-full">  
        <form class="mt-5" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div >
            <label for="reg-num">Registration Number</label>
            <div class="flex mt-2">
              <input class="border-2 p-2 w-full" type="text" formControlName="reg_num" name="reg-num" id="reg-num" placeholder="Type registration number" required >
            </div>

          </div>

          <div class="mt-4 mb-3">
            <label for="reg-council">Registration Council</label>
            <div class=" mt-3">
              <select class=" border-2 p-2 p-2 w-full" formControlName="reg_council" name="reg-council">
                <option value="" disabled selected>Select registration council</option>
  
                <option value="Delhi Medical Council">Delhi Medical Council</option>
                <option value="Kerala Medical Council">Kerala Medical Council</option>
              </select>
            </div>

          </div>

          <div class="mt-4 mb-4 pb-[150px] border-b-2">
            <label for="reg-year">Registration Year</label>
            <div class="flex mt-2">
              <select class="border-2 p-2 p-2 w-full" formControlName="reg_year" name="reg-year">
                <option value="" disabled selected>Select registration council</option>                
                <option *ngFor="let i of years" [value]="i"> {{i}}</option>
              </select>
            </div>

          </div>

          <div class="flex justify-between items-center">
            <a [routerLink]="['/partners/onboard/milestone']"><i class='bx bx-left-arrow-alt'></i> Back</a>
            <input type="submit" class="bg-orange-400 text-white rounded-sm p-2 w-[120px] cursor-pointer" value="Next">
          </div>
        </form>
    </div>

  </div>
  <div class="lg:w-[50%] lg:flex sm:hidden xs:hidden flex  justify-center" >
    <div class="flex flex-col gap-2 text-blue-500 border-2 bg-emerald-200 border-green-500 w-[350px] p-2 h-[11rem] font-normal">
      <i class='bx bx-loader-medium'></i>
      <p>This information helps us perform critical checks to ensure that only licensed and genuine medical practitioners are listed on Practo. Your profile will get a “Verified” badge on verification. Doctors with verified profiles get 95% more patient views on Practo.</p>
    </div>
  </div>
</div>